<div id="menu-wrapper">
                        <div id="menu">
                                <ul>
                                        <li>
                                                <a href="/">Home</a>
                                        </li>
<li>
<a href="/quotes/landing">Quotes</a>
</li>
                                        <li>
                                                <a href="/contact">Contact</a>
                                        </li>
                                </ul>
                        </div>
                        <!-- end #menu -->
                </div>

