{{#with page_header}}
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">{{header}}</a></h1>
				<p>
				{{slogan}}
				</p>
			</div>
		</div>
	</div>
	<!-- end #header -->
{{/with}}

